.companiesList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.link {
  width: 50%;
  height: 150px;
  cursor: pointer;
  text-align: end;
  text-decoration: none;
  color: #fff;
}

.bottom {
  padding: 1rem;
  transform: translateY(50px);
}

.link:nth-child(4n),
.link:nth-child(4n + 1) {
  background-color: #0058a8;
}

.link:nth-child(4n + 2),
.link:nth-child(4n + 3) {
  background: #0d47a1;
}

.link:hover {
  filter: contrast(1.125);
}

.symbol {
  text-transform: uppercase;
}
