.companiesList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

li {
  width: 50%;
  height: 150px;
  cursor: pointer;
  text-align: end;
}

.bottom {
  padding: 1rem;
  transform: translateY(75px);
}

li:nth-child(4n),
li:nth-child(4n + 1) {
  background-color: #0058a8;
}

li:nth-child(4n + 2),
li:nth-child(4n + 3) {
  background: #0d47a1;
}

li:hover {
  filter: contrast(1.125);
}

.symbol {
  text-transform: uppercase;
}
